https://www.gululu.world/book#$#* { background: #C7EDCC !important; color: black !important; line-height: 160% !important; font-size: 25pt !important; letter-spacing: 2px !important; }
https://www.gululu.world/book#$#:link, :link * { color: #0000EE !important; }
https://www.gululu.world/book#$#:visited, :visited * { color: #551A8B !important; }

ngabbs.com#$#* { background: #C7EDCC !important; color: black !important; line-height: 160% !important; font-size: 25pt !important; letter-spacing: 2px !important; }
ngabbs.com#$#:link, :link * { color: #0000EE !important; }
ngabbs.com#$#:visited, :visited * { color: #551A8B !important; }
